html, body
  height 100%

html
  -webkit-text-size-adjust none
  min-height 100%

body
  font-size 18px
  line-height 1.8
  background #ccc

body, input, textarea
  color $black
  font-family "Vollkorn"
  font-size 14px
  line-height 1.8

a
  transition color .2s

*:focus
  outline none

.-hide
  display none

.br
  display block

input[type="search"]
  -webkit-appearance textfield

input[type='submit']
  -webkit-appearance none
  -moz-appearance none
  appearance none


.slick-slider,
.slick-list,
.slick-track
  height 100%
