@font-face
  font-family 'Vollkorn'
  src url('../fonts/Vollkorn/Vollkorn-Regular.eot')
  src url('../fonts/Vollkorn/Vollkorn-Regular.eot') format('embedded-opentype'),
    url('../fonts/Vollkorn/Vollkorn-Regular.woff2') format('woff2'),
    url('../fonts/Vollkorn/Vollkorn-Regular.woff') format('woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'Vollkorn'
  src url('../fonts/Vollkorn/Vollkorn-Semibold.eot')
  src url('../fonts/Vollkorn/Vollkorn-Semibold.eot') format('embedded-opentype'),
    url('../fonts/Vollkorn/Vollkorn-Semibold.woff2') format('woff2'),
    url('../fonts/Vollkorn/Vollkorn-Semibold.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNova/ProximaNovaBlack.eot')
  src url('../fonts/ProximaNova/ProximaNovaBlack.eot') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaBlack.woff2') format('woff2'),
    url('../fonts/ProximaNova/ProximaNovaBlack.woff') format('woff')
  font-weight 700
  font-style normal

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNova/ProximaNovaSemibold.eot')
  src url('../fonts/ProximaNova/ProximaNovaSemibold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaSemibold.woff2') format('woff2'),
    url('../fonts/ProximaNova/ProximaNovaSemibold.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNova/ProximaNovaRegular.eot')
  src url('../fonts/ProximaNova/ProximaNovaRegular.eot') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaRegular.woff2') format('woff2'),
    url('../fonts/ProximaNova/ProximaNovaRegular.woff') format('woff')
  font-weight 400
  font-style normal
