// variables
$white = #fff
$black = #000
$yellow = #fffc00
$yellow-dark = #eae704
$yellow-light = #fffd4e
$yellow-button = #dedb00
$gray = #6f6d6c
$gray-drak = #b3b3b3
$blue = #1180a4
$blue-light = #00c0ff
