.wrapper
  background #fff
  margin 0 auto
  overflow-x hidden
  max-width 1800px
  width 100%
  min-width 320px
  box-shadow 0 0 6px rgba(0,0,0,0.5)
  position relative

.base-col
  width 100%
  max-width 1140px
  padding 0 15px
  margin 0 auto
  box-sizing border-box
  clearfix()
